@import "tailwindcss";
@import "katex/dist/katex.min.css";
@import "highlight.js/styles/github-dark.css";

@layer base {
  :root {
    --background: #17212d;
    --foreground: #ffffff;
  }
  
  body {
    background-color: var(--background);
    color: var(--foreground);
    @apply antialiased font-sans;
  }
}

